* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
}

.container {
    display: grid;
    min-height: 100%;
    grid-template-columns: repeat(4, 1fr);

    grid-template-areas: 
    "bx bx bx bx"
    "bx em em bx"
    "bx em em bx"
    "bx bx bx bx";
}

.cover {
    width: 25vw;
    height: 25vh;

    grid-area: "bx";
}

.happy {
    color: white;
    grid-area: "em";

    background-color: rebeccapurple;
    grid-column: 2/4;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-justify: center;
}

.happy img {
    border-radius: 50%;
}

.happy {
    text-align: center;
}

.blue {
    color: blue;
    background-color: blue;
}

.red {
    color: red;
    background-color: red;
}

.green {
    color: green;
    background-color: green;
}

.yellow {
    color: yellow;
    background-color: yellow;
}

/* || MEDIA QUERIES */
@media screen and (min-width: 320px) {
    .happy {
        z-index: 1;
    }

    .happy img {
        width: 150px;
    }

    .happy h1{
        font-size: 1rem;
    }
    .emoji {
        font-size: 2rem;
    }

    span {
        position: absolute;
        top: -10000px;
    }

    .cover {
        width: 25vw;
        height: 27vh;
    
        grid-area: "bx";
    }
}


@media screen and (min-width: 768px) {
    .happy h1{
        font-size: 1.5rem;
    }

    .happy img {
        width: 250px;
    }

    .emoji {
        font-size: 2rem;
    }

    span {
        position: inherit;
    }

    .cover {
        width: 25vw;
        height: 25vh;
    
        grid-area: "bx";
    }
}

@media screen and (min-width: 1024px) {
    .happy img{
        width: 500;
    }

    .happy h1{
        font-size: 2rem;
    }

    .happy .emoji {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1400px) {
    .happy img{
        width: 500;
    }

    .happy h1{
        font-size: 2rem;
    }

    .happy .emoji {
        font-size: 2rem;
    }
}